//
//  Debug.xcconfig
//  CountriesApp
//
//  Created by Eslam Abotaleb on 30/01/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_Base_URL = https:/$()/restcountries.com/v2
